<span class="directions">Directions: Click on a number in the queue to move it into the computation area.<br>
	Click on a number in the computation area to move it back into the queue.<br>
	Click on the operator to cycle between +, -, *, and /<br>
	Click submit to compute the new number and move it up to the queue. You win when your final computation equals 24.<br>
<div class="board"></div>
<script src="/dist/output.min.js"></script>

