<!doctype html>
<html>
  <head>
    <title>Challenge 24</title>
    <link href="/lib/style.css" rel="stylesheet" type="text/css">

    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <script src="/client/fraction.js"></script>

    <script src="/client/models/NumberModel.js"></script>
    <script src="/client/models/OperationModel.js"></script>
    <script src="/client/models/AppModel.js"></script>

    <script src="/client/collections/Numbers.js"></script>
    <script src="/client/collections/NumberQueue.js"></script>
    <script src="/client/collections/ComputeQueue.js"></script>

    <script src="/client/views/NumberView.js"></script>
    <script src="/client/views/OperationView.js"></script>
    <script src="/client/views/NumberQueueView.js"></script>
    <script src="/client/views/ComputeView.js"></script>
    <script src="/client/views/AppView.js"></script>
  </head>
  <body>
    <h1>Challenge 24</h1>
    <%- body %>
  </body>
</html>
