<!doctype html>
<html>
  <head>
    <title>Challenge 24</title>
    <link href="/dist/style.min.css" rel="stylesheet" type="text/css">

    <script src="/lib/jquery.js"></script>
    <script src="/lib/underscore.js"></script>
    <script src="/lib/backbone.js"></script>
  </head>
  <body>
    <h1>Challenge 24</h1>
    <%- body %>
  </body>
</html>
